/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* color: white !important;; */
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #66BB66;
    --box2-color: #FFCC66;
    --box3-color: #1199EE;
    --box4-color: #FF7744;
    --box5-color: #EE4444;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activityData::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    /* background-color: var(--panel-color); */
    background-color: #33AAFF;
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logoName{
    display: flex;
    align-items: center;
}
nav .logoImage{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logoImage img{
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logoName .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 20px;
    transition: var(--tran-05);
    color: white;
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menuItems{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuItems li{
    list-style: none;
}
.menuItems li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.navLinks li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menuItems li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
    color: white;
}
.menuItems li a .linkName{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
    color: white;
}
nav.close li a .linkName{
    opacity: 0;
    pointer-events: none;
}
.navLinks li a:hover i,
.navLinks li a:hover .linkName{
    color: var(--primary-color);
}
body.dark .navLinks li a:hover i,
body.dark .navLinks li a:hover .linkName{
    color: var(--text-color);
}
.menuItems .logoutMode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menuItems .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menuItems .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 1;
    background-color: #3388FF;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebarToggle{
    font-size: 24px;
    /* color: var(--text-color); */
    color: white;
    cursor: pointer;
}
.dashboard .top .searchBox{
    position: relative;
    /* max-width: 800px; */
    width: 100%;
    margin: 0 30px;
    color :white;
    text-align:center;
    font-size: 24px;
}
.top .searchBox input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .searchBox i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dashboard .dashContent{
    padding-top: 50px;
}
.dashContent .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dashContent .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dashContent .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dashContent .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dashContent .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 5 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    /* color: var(--text-color); */
    color: white;
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    /* color: var(--text-color); */
    color: white;
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    /* color: var(--text-color); */
    color: white;
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.boxes .box.box4{
    background-color: var(--box4-color);
}
.boxes .box.box5{
    background-color: var(--box5-color);
}
.dashContent .activity .activityData{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activityData{
    display: flex;
}
.activityData .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activityData .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activityData .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .linkName{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activityData{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dashContent .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dashContent .boxes .box{
        width: 100% ;
    }

    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}

/* Inventory */

 .inventory{
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,.5);
}

#conditionFilterDropdown{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

/*.top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

p{
    color: rgba(0,0,0,.5);
}

.r-arrow{
    margin-left: 10px;
}

.row2{
    position: absolute;
    right: 100px;
    display: flex;
    flex-direction: row;
}

select{
    padding: 08px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}


.icon{
    font-size: 14px;
    margin-right: 08px;
}

.category,
.item{
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 800;
    color: #FFFFFE;
    cursor: pointer;
}

.add{
    background-color: #66BB66;
    transition: var(--tran-03);
}

.add:hover{
    background-color: #559b55;
}

.delete{
    background-color: #EE4444;
    transition: var(--tran-03);
}

.delete:hover{
    background-color: #a12f2f;
}


table{
    margin-top: 50px;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}
  
th, td{
    border: 1px solid whitesmoke;
    padding: 8px;
    text-align: center;
    color: #FEFEFE;
}
  
th{
    background-color: #3388FF;
    font-weight: 800;
}

td{
    background-color: #55CCFF;
}

.actions{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.update{
    background-color: #66BB66;
}

.generate{
    background-color: #FFCC66;
}

.del{
    background-color: #EE4444;
}

.update:hover{
    background-color: #559b55;
}

.generate:hover{
    background-color: #b9944a;
}

.del:hover{
    background-color: #a12f2f;
}


.box{
    font-weight: 800;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: var(--tran-03);
    cursor: pointer;
} */

/* .row2{
    display: flex;
    flex-direction: row;
}

.gen-rep{
    font-size: 16px;
    padding: 10px 20px;
    background-color: #FFCC66;
    font-weight: 800;
    color: white;
    margin-top: 30px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: var(--tran-02);
}

.gen-rep:hover{

    scale: 100%;
    background-color: #D3A750;
}

.bxs-download{
    margin-right: 10px;
}

select{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.clear-log{
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    right: 15px;
    background-color: #EE4444;
    font-weight: 800;
    color: white;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: var(--tran-02);
}

.clear{
    margin-right: 10px;
}

.clear-log:hover{
    margin-right: 10px;
    scale: 100%;
    background-color: #A73030;
} */

.row2{
    /* position: absolute;
    right: 100px; */
    display: flex;
    flex-direction: row;
    float: right;
}

select{
    padding: 08px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.dropdown
{
    height: 45px;
    width: 100%;
}


/* .icon{
    font-size: 14px;
    margin-right: 08px;
} */

.category,
.item{
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 800;
    color: #FFFFFE;
    cursor: pointer;
    flex-direction: row;
}

.add{
    background-color: #66BB66;
    transition: var(--tran-03);
}

.add:hover{
    background-color: #559b55;
}

.delete{
    background-color: #EE4444;
    transition: var(--tran-03);
}

.delete:hover{
    background-color: #a12f2f;
}

.edit{
    background-color: #1199EE;
}

.edit:hover{
    scale: 110%;
    background-color: #0e71af;
}

table{
    margin-top: 10px;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}
  
th, td{
    border: 1px solid whitesmoke;
    padding: 8px;
    text-align: center;
    color: #FEFEFE;
}
  
th{
    background-color: #3388FF;
    font-weight: 800;
}

td{
    background-color: #55CCFF;
}

.actions{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
  }

div.activityData .box{
    /* width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: var(--tran-03);
    cursor: pointer; */
    font-weight: 800;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: var(--tran-03);
    cursor: pointer;
}

/* .edit{
    background-color: #1199EE;
}

.edit:hover{
    scale: 110%;
    background-color: #0e71af;
}

.delete{
    background-color: #EE4444;
}

.delete:hover{
    scale: 110%;
    background-color: #a12f2f;
} */

.update{
    background-color: #1199EE;
}

.generate{
    background-color: #FFCC66;
}

.del{
    background-color: #EE4444;
}

.update:hover{
    background-color: #0b81ca;
}

.generate:hover{
    background-color: #b9944a;
}

.del:hover{
    background-color: #a12f2f;
}

/* Overlay */

.deleteItemsWrap{
    max-width: 350px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.deleteItemsOverlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

#deleteh1{
    color: #FFCC66 ;
    font-size: 2em;
    text-align: center;
}

#deleteh2{
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
}

.updateItemsWrap{
    max-width: 350px;
    padding: 20px;
    /* height: 40%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.updateItemsOverlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.addItemsWrap{
    max-width: 350px;
    padding: 20px;
    /* height: 40%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.addItemsOverlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.addCategoryWrap{
    max-width: 350px;
    padding: 20px;
    /* height: 40%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.addCategoryOverlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.deleteCategoryWrap{
    max-width: 350px;
    padding: 20px;
    /* height: 40%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.deleteCategoryOverlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.generateQRWrap{
    max-width: 350px;
    padding: 20px;
    /* height: 40%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.generateQROverlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

@media (max-width: 780px) {
    .row2{
        flex-direction: column;
        margin-top: 10px;
    }

    select{
        display: flex;
        width: 100%;
    }

    .row2btns{
        margin-top: 08px;
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .delete,
    .add{
        font-size: 12px;
    }

    .delete{
        margin-left: 0px;
    }

    .item{
        margin-right: 0px;
    }

    .table{
        margin-top: 05px;
    }

    td{
        padding: 0px;
    }
    
    .update,
    .generate,
    .del{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .update,
    .generate,
    .del,
    .bxs-pencil,
    .bx-qr,
    .bxs-trash-alt{
        font-size: 14px;
    }

  }

  /* From Overlay CSS */

.overlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.wrap{
    max-width: 350px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.confirm{
    margin-top: 20px;
    background-color: #66BB66;
}

.confirm:hover{
    background-color: #559b55;
}

.cancel{
    background-color: #EE4444;
}

.cancel:hover{
    background-color: #a12f2f;
}

.buttons {
    /* width: 200px;
    margin: 0 auto;
    display: inline; */

    /* text-align: center;
    align-items: center;
    flex-direction: row; */

    position: relative;
    /* right: 100px; */
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    /* float: right; */
    
}
    
.action_btn {

    width: 200px;
    margin: 0 auto;
    display: inline;
    margin: 10px;
}

/* QR Button */

.buttonQR {
    width: 45%;
    align-items: center;
    /* text-align: center; */
    flex-direction:column;
    /* float: center; */
    margin-left: 80px;
    /* display: flex; */
}

input[type="button"] {
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    /* background: #cc0033; */
    /* border: 1px solid #fff; */
    cursor: pointer;
}
