/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    /* color: white !important;; */
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #66BB66;
    --box2-color: #FFCC66;
    --box3-color: #1199EE;
    --box4-color: #FF7744;
    --box5-color: #EE4444;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    /* background-color: var(--panel-color); */
    background-color: #33AAFF;
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logoName{
    display: flex;
    align-items: center;
}
nav .logoImage{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logoImage img{
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logoName .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 20px;
    transition: var(--tran-05);
    color: white;
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menuItems{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuItems li{
    list-style: none;
}
.menuItems li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.navLinks li a:hover:before{
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menuItems li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
    color: white;
}
.menuItems li a .linkName{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
    color: white;
}
nav.close li a .linkName{
    opacity: 0;
    pointer-events: none;
}

.navLinks li a:hover ,
.navLinks li a:hover .linkName{
    background: var(--primary-color);
    border-radius: 10px;
}

body.dark .navLinks li a:hover i,
body.dark .navLinks li a:hover .linkName{
    color: var(--text-color);
}
.menuItems .logoutMode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menuItems .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menuItems .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 1;
    background-color: #3388FF;
}

h1{
    font-weight: bold !important;
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebarToggle{
    font-size: 24px;
    /* color: var(--text-color); */
    color: white;
    cursor: pointer;
}
.dashboard .top .searchBox{
    position: relative;
    /* max-width: 800px; */
    width: 100%;
    margin: 0 30px;
    color :white;
    text-align:center;
    font-size: 24px;
}
.top .searchBox input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .searchBox i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dashboard .dashContent{
    padding-top: 50px;
}
.dashContent .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dashContent .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dashContent .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dashContent .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dashContent .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 5 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    /* color: var(--text-color); */
    color: white;
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    /* color: var(--text-color); */
    color: white;
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    /* color: var(--text-color); */
    color: white;
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.boxes .box.box4{
    background-color: var(--box4-color);
}
.boxes .box.box5{
    background-color: var(--box5-color);
}
.dashContent .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .linkName{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dashContent .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dashContent .boxes .box{
        width: 100% ;
    }
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .linkName{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}

/* Inventory */

 .inventory{
    display: flex;
    flex-direction: column;
    color: black;
}

/*.top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

p{
    color: rgba(0,0,0,.5);
}

.r-arrow{
    margin-left: 10px;
}

.row-2{
    position: absolute;
    right: 100px;
    display: flex;
    flex-direction: row;
}

select{
    padding: 08px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}


.icon{
    font-size: 14px;
    margin-right: 08px;
}

.category,
.item{
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 800;
    color: #FFFFFE;
    cursor: pointer;
}

.add{
    background-color: #66BB66;
    transition: var(--tran-03);
}

.add:hover{
    background-color: #559b55;
}

.delete{
    background-color: #EE4444;
    transition: var(--tran-03);
}

.delete:hover{
    background-color: #a12f2f;
}


table{
    margin-top: 50px;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}
  
th, td{
    border: 1px solid whitesmoke;
    padding: 8px;
    text-align: center;
    color: #FEFEFE;
}
  
th{
    background-color: #3388FF;
    font-weight: 800;
}

td{
    background-color: #55CCFF;
}

.actions{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.update{
    background-color: #66BB66;
}

.generate{
    background-color: #FFCC66;
}

.del{
    background-color: #EE4444;
}

.update:hover{
    background-color: #559b55;
}

.generate:hover{
    background-color: #b9944a;
}

.del:hover{
    background-color: #a12f2f;
}


.box{
    font-weight: 800;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: var(--tran-03);
    cursor: pointer;
} */

/* .row-2{
    display: flex;
    flex-direction: row;
}

.gen-rep{
    font-size: 16px;
    padding: 10px 20px;
    background-color: #FFCC66;
    font-weight: 800;
    color: white;
    margin-top: 30px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: var(--tran-02);
}

.gen-rep:hover{

    scale: 100%;
    background-color: #D3A750;
}

.bxs-download{
    margin-right: 10px;
}

select{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.clear-log{
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    right: 15px;
    background-color: #EE4444;
    font-weight: 800;
    color: white;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: var(--tran-02);
}

.clear{
    margin-right: 10px;
}

.clear-log:hover{
    margin-right: 10px;
    scale: 100%;
    background-color: #A73030;
} */

.row-2{
    position: relative;
    /* right: 100px; */
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    /* float: right; */
}

select{
    padding: 08px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}


/* .icon{
    font-size: 14px;
    margin-right: 08px;
} */

.category,
.item{
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 800;
    color: #FFFFFE;
    cursor: pointer;
    /* margin-left: 10px; */
    /* display: flex; */
    flex-direction: row;

}

.add{
    background-color: #66BB66;
    transition: var(--tran-03);
}

.add:hover{
    background-color: #559b55;
}

.delete{
    background-color: #EE4444;
    transition: var(--tran-03);
}

.delete:hover{
    background-color: #a12f2f;
}

.reset{
    background-color: #FFCC66;
    transition: var(--tran-03);
}

.reset:hover{
    background-color: #e0b358;
}



table{
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}
  
th, td{
    border: 1px solid whitesmoke;
    padding: 8px;
    text-align: center;
    color: #FEFEFE;
}
  
th{
    background-color: #3388FF;
    font-weight: 800;
}

td{
    background-color: #55CCFF;
}

.actions{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
  }

div.activity-data .box{
    /* width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: var(--tran-03);
    cursor: pointer; */
    font-weight: 800;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: var(--tran-03);
    cursor: pointer;
}

/* .edit{
    background-color: #1199EE;
}

.edit:hover{
    scale: 110%;
    background-color: #0e71af;
}

.delete{
    background-color: #EE4444;
}

.delete:hover{
    scale: 110%;
    background-color: #a12f2f;
} */

.update{
    background-color: #66BB66;
}

.generate{
    background-color: #FFCC66;
}

.del{
    background-color: #EE4444;
}

.update:hover{
    background-color: #559b55;
}

.generate:hover{
    background-color: #b9944a;
}

.del:hover{
    background-color: #a12f2f;
}

.check{
    background-color: #1199EE;
}


.check:hover{
    background-color: #0b81ca;
}

/* Checkbox */

  /* p {
    color: #898E95;
  } */
  /* .checkboxes {
    margin-top: 2rem;
  } */
  /* Checkbox styles */
  label.checkbox {
    /* margin-right: 1rem; */
    padding-left: 1.75rem;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  label.checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  label.checkbox input[type="checkbox"]:focus ~ span {
    border: 2px solid #aab0b9;
  }
  label.checkbox input[type="checkbox"]:focus:checked ~ span {
    border: 2px solid #20644c;
  }
  label.checkbox input[type="checkbox"]:checked ~ span {
    color: #FFFFFF;
    background: #329E78 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+)  50% 40% no-repeat;
    border: 2px solid #329E78;
  }
  label.checkbox span {
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: -2px;
    width: 2rem;
    height: 2rem;
    background-color: #d4d7dc;
    border: 2px solid #d4d7dc;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* TextField Numbers */

  /* input[type=text], #number {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  } */


  /* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
*, *:after, *:before {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f9;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  user-select: none;
}
.checkbox-group > * {
  margin: 0.5rem 0.5rem;
}
.checkbox-group-legend {
  font-size: 1.5rem;
  font-weight: 700;
  color: #9c9c9c;
  text-align: center;
  line-height: 1.125;
  margin-bottom: 1.25rem;
}
.checkbox-input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-input:checked + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}
.checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}
.checkbox-input:checked + .checkbox-tile .checkbox-icon, .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #2260ff;
}
.checkbox-input:focus + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}
.checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.checkbox-tile:hover {
  border-color: #2260ff;
}
.checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}
.checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}
.checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}
.checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
} */

* {
    box-sizing: border-box;
  }
  
  /* body {
    font-family: Arial, Helvetica, sans-serif;
  } */
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* padding: 16px; */
    text-align: center;
    background-color: #f1f1f1;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px; */
    position: relative;
    /* z-index: 100; */

    position: relative;
    background: #fff;
    border-radius: 10px;
    margin: 20px 0;
  }

  .cardDivider {
    background-color:#11B0FF; 
    border-radius: 3px;
    width: 100%;
    color: white;
    font-family: 'Poppins';
  }


  /* Overlay */

  .userReserveWrap{
    max-width: 350px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.userReserveOverlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

#userh1{
    color: #FFCC66;
    font-size: 2em;
    text-align: center;
}

#userh2{
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
}

.userBackpackWrap{
    max-width: 350px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.userBackpackOverlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

#userbackpackh1{
    /* color: #FFCC66; */
    font-size: 2em;
    text-align: center;
}

.userbackpack {
    /* text-align: center; */
}

.userbackpacklist
{
    /* display: inline-block; */
    /* text-align: left; */

    /* margin: 0;
    padding: 0; */
    font-size: 25px;
    margin-left: 50px;
}




/* Radio Card Buttons */



:root {
    --card-line-height: 1.2em;
    --card-padding: 1em;
    --card-radius: 0.5em;
    --color-green: #558309;
    --color-gray: #e2ebf6;
    --color-dark-gray: #c4d1e1;
    --radio-border-width: 2px;
    --radio-size: 1.5em;
}
/* body {
    background-color: #f2f8ff;
    color: #263238;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 2em 6vw;
} */
.grid {
    display: grid;
    grid-gap: var(--card-padding);
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
}
@media (min-width: 42em) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
   }
}
.card {
    background-color: #fff;
    border-radius: var(--card-radius);
    position: relative;
    width: 330px;
}
.card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width));
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
        border: var(--radio-border-width) solid var(--color-gray);
        border-radius: 50%;
        cursor: pointer;
        height: var(--radio-size);
        outline: none;
        transition: background 0.2s ease-out, border-color 0.2s ease-out;
        width: var(--radio-size);
   }
    .radio::after {
        border: var(--radio-border-width) solid #fff;
        border-top: 0;
        border-left: 0;
        content: '';
        display: block;
        height: 0.75rem;
        left: 25%;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
        width: 0.375rem;
   }
    .radio:checked {
        background: var(--color-green);
        border-color: var(--color-green);
   }
    .card:hover .radio {
        border-color: var(--color-dark-gray);
   }
    .card:hover .radio:checked {
        border-color: var(--color-green);
   }
}
.plan-details {
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: var(--card-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    transition: border-color 0.2s ease-out;
}
.card:hover .plan-details {
    border-color: var(--color-dark-gray);
}
.radio:checked ~ .plan-details {
    border-color: var(--color-green);
}
.radio:focus ~ .plan-details {
    box-shadow: 0 0 0 2px var(--color-dark-gray);
}
.radio:disabled ~ .plan-details {
    color: var(--color-dark-gray);
    cursor: default;
}
.radio:disabled ~ .plan-details .plan-type {
    color: var(--color-dark-gray);
}
.card:hover .radio:disabled ~ .plan-details {
    border-color: var(--color-gray);
    box-shadow: none;
}
.card:hover .radio:disabled {
    border-color: var(--color-gray);
}
.plan-type {
    color: var(--color-green);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
}
.plan-cost {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
}
.slash {
    font-weight: normal;
}
.plan-cycle {
    font-size: 2rem;
    font-variant: none;
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
}
.hidden-visually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media only screen and (max-width: 560px) {
    i.bxs-x-square, 
    i.bxs-select-multiple{
        display: none;
      }
    svg.bxs-x-square, 
    svg.bxs-select-multiple{
        display: none;
      }
  }


/* From Overlay CSS */

.overlay{
    height: 100%;
    width: 100%;
    /* margin-left: 120px; */
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.wrap{
    max-width: 350px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #02339F;
    margin-top: 110px;
    /* margin-left: 900px; */
    border-radius: 20px;
    color: #fff;
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.confirm{
    margin-top: 20px;
    background-color: #66BB66;
}

.confirm:hover{
    background-color: #559b55;
}

.cancel{
    background-color: #EE4444;
}

.cancel:hover{
    background-color: #a12f2f;
}

.buttons {
    /* width: 200px;
    margin: 0 auto;
    display: inline; */

    /* text-align: center;
    align-items: center;
    flex-direction: row; */

    position: relative;
    /* right: 100px; */
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    /* float: right; */
    
}
    
.action_btn {

    width: 200px;
    margin: 0 auto;
    display: inline;
    margin: 10px;
}

